// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .fav {
    &__main {
      max-width: 1124px;
      margin: 0 auto;
    }
    &__items {
      display: grid;
      justify-content: center;
      grid-auto-rows: auto;
      grid-template-columns: repeat(2, minmax(250px, 300px));
      gap: $unit;
    }
    &__item {
      margin: 0;
    }
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .fav__items {
    grid-template-columns: repeat(3, minmax(250px, 350px));
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}
