@import "../common/normolize";
@import "../common/main";

.fav {
  &__main {
    padding: 0 $unit 62px + $unit;
  }
  &__title {
    font-size: $large;
    font-weight: 300;
    margin: 2 * $unit 0 $unit;
  }
  &-item__title {
    font-size: 20px;
    padding-right: $unit;
  }
  &__item {
    cursor: pointer;
    margin-bottom: $unit;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 23px 10px 23px $unit;
    color: #fff;
    position: relative;
    overflow: hidden;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
    button {
      background: none;
      border: none;
    }
    * {
      z-index: 5;
      position: relative;
      path {
        fill: #fff;
      }
    }
    &::before {
      z-index: 2;
      content: "";
      border-radius: 10px;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: linear-gradient(
        360deg,
        rgba(0, 0, 0, 0.69) 0%,
        rgba(0, 0, 0, 0) 108.51%
      );
    }
  }
  &__img {
    position: absolute;
    width: 110%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
  }
  &__heart {
    margin-right: 11px;
    &--green {
      path {
        fill: $green;
      }
    }
    svg {
      width: 25px;
    }
  }
  &__fridge {
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    bottom: 5px;
    right: 5px;
    svg {
      width: 25px;
    }
  }
  &-fridge__nums {
    color: #fff;
    font-size: $medium;
    font-weight: 300;
  }
  &__error {
    color: $red;
    text-align: center;
    margin-top: 2 * $unit;
    font-size: $large;
    font-weight: 300;
  }
}
.header-desctop__input {
  display: none;
}
