html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel="shortcut icon", type="image/ico", href=require("../../images/common/logo.png").default)
        title Smiley Recipes
    body 
        .wrapper
            include ../common/logo
            include ../common/header
            .mobile-menu
                img.mobile-menu__close(src=require("../../images/index/close.png").default, alt="close button")
                nav.mobile-menu__items 
                    ul
                        li.mobile-menu__item Breakfast 
                        li.mobile-menu__item Dinner
                        li.mobile-menu__item Lunch
                        li.mobile-menu__item Popular
                        li.mobile-menu__item Fat Free 
            main.main.content
                section.search-field 
                    input.search-field__input(type="text", placeholder="Search for recipes")
                    <!--hidden results field for header search--!>
                    article.search-field__results
                        .search-field__loading
                            include ../common/loader
                        .search-field__items
                            //- p.search-field__item result 1
                            //- p.search-field__item result 2
                            //- p.search-field__item result 3
                        button.search-field__more Show More...
                section.recipe-articles 
                    article.recipe-article(id="search")
                        h3.recipe-title Search
                        .recipe-article__items
                            .swiper.search-swiper
                                .swiper-wrapper
                                <!-- If we need pagination -->
                                .swiper-pagination

                                <!-- If we need navigation buttons -->
                                .swiper-button-prev
                                .swiper-button-next
                    article.recipe-article.recipe-article--active(id="popular")
                        h3.recipe-title Popular
                        .recipe-article__items
                            .swiper.popular-swiper
                                .swiper-wrapper
                                    .recipe-article__item.swiper-slide
                                        img.recipe-article__background(src=require("../../images/index/chicken.jpg").default, alt="recipe photo")
                                        .recipe-article__header
                                            button.add-to-fav.add-to-fav--white
                                                include ../common/fav
                                            button.check-fridge.check-fridge--white
                                                span.check-fridge__nums
                                                    span.check-fridge__current 5
                                                    | /
                                                    span.check-fridge__whole 9
                                                include ../common/fridge
                                        h2.recipe-article__title Backed Chicken Thighs
                                    .recipe-article__item.swiper-slide
                                        .recipe-article__header
                                            button.add-to-fav.add-to-fav--white
                                                include ../common/fav
                                            button.check-fridge.check-fridge--white
                                                span.check-fridge__nums
                                                    span.check-fridge__current 5
                                                    | /
                                                    span.check-fridge__whole 9
                                                include ../common/fridge
                                        h2.recipe-article__title Backed Chicken Thighs
                                    .recipe-article__item.swiper-slide
                                        .recipe-article__header
                                            button.add-to-fav.add-to-fav--white
                                                include ../common/fav
                                            button.check-fridge.check-fridge--white
                                                span.check-fridge__nums
                                                    span.check-fridge__current 5
                                                    | /
                                                    span.check-fridge__whole 9
                                                include ../common/fridge
                                        h2.recipe-article__title Backed Chicken Thighs
                                
                                <!-- If we need pagination -->
                                .swiper-pagination

                                <!-- If we need navigation buttons -->
                                .swiper-button-prev
                                .swiper-button-next
                    article.recipe-article(id="breakfast")
                        h3.recipe-title
                        .recipe-article__items
                            .swiper.search-swiper
                                .swiper-wrapper                 
                                <!-- If we need pagination -->
                                .swiper-pagination

                                <!-- If we need navigation buttons -->
                                .swiper-button-prev
                                .swiper-button-next
                section.settings
                    .menu 
                        img(src=require("../../images/index/menu.png").default, alt="menu")
                    p.settings__item Breakfast
                    p.settings__item Dinner
                    p.settings__item Lunch
                    p.settings__item Popular 
                    p.settings__item Fat Free



