@import "../common/normolize";
@import "../common/main.scss";

.wrapper {
  padding-bottom: 60px;
}

//search fields
.search-field {
  position: relative;
  margin: $unit 0;

  &::before {
    content: url("assets/images/common/magnifying-glass.png");
    width: 18px;
    display: block;
    position: absolute;
    top: 51%;
    left: $unit;
    transform: translate(0, -50%);
    z-index: 10;
    transition: 0.2s all ease;
  }
  &__input {
    width: 100%;
    border-radius: 50px;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
    border: 0px;
    position: relative;
    padding: $unit * 0.9 $unit * 0.5 $unit * 0.9 $unit * 3;
    color: $gray;
    font-size: $medium;
    transition: 0.2s ease all;
    &::placeholder {
      color: $gray;
    }
  }
  &--active {
    &::before {
      left: 90%;
    }
    .search-field__input {
      padding: $unit * 0.9 $unit * 3 $unit * 0.9 $unit * 0.7;
    }
  }
  //search field dropdown results
  &__results {
    display: none;
    z-index: 10;
    position: absolute;
    width: 100%;
    bottom: -155px;
    height: 150px;
    overflow-y: scroll;
    border-radius: 5px;
    background: #fff;
    box-shadow: 4px 4px 5px rgba(0, 0, 0, 0.17);
    &--active {
      display: block;
    }
  }
  &__error {
    color: $red;
    margin-top: 30px;
    text-align: center;
  }
  &__link {
    text-decoration: none;
  }
  &__item {
    padding: 12px 10px;
    font-size: $medium;
    color: $gray;
  }
  &__loading {
    display: none;
    width: 90px;
    height: 30px;
    margin: 2 * $unit auto 0;
    circle {
      fill: $green;
    }
  }
}

//main sections
//RECIPES
.add-to-fav,
.check-fridge {
  background: none;
  border: 0;
  padding: 5px;
  &--white {
    path {
      fill: #fff;
    }
  }
}
.check-fridge {
  display: flex;
  align-items: center;
  justify-content: center;
  &__nums {
    color: #fff;
    font-size: 18px;
    font-weight: 300;
  }
}
.recipe {
  &-title {
    font-size: $large;
    font-weight: normal;
    margin: 20px 0 15px;
  }
  &-articles {
    margin-right: -$unit;
  }
  &-article {
    display: none;
    &--active {
      display: block;
    }
    &__title {
      color: #fff;
    }
    &__item {
      overflow: hidden;
      * {
        z-index: 2;
      }
      margin-right: $unit;
      border-radius: 10px;
      display: flex;
      justify-content: space-between;
      flex-flow: column wrap;
      padding: $unit;
      min-height: 384px;
      max-width: 288px;
      position: relative;
      &::before {
        z-index: 1;
        content: "";
        border-radius: 10px;
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background: linear-gradient(
          360deg,
          rgba(0, 0, 0, 0.69) 0%,
          rgba(0, 0, 0, 0) 108.51%
        );
      }
    }
    &__background {
      position: absolute;
      height: 100%;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 0;
      border-radius: 10px;
    }
    &__header {
      display: flex;
      justify-content: space-between;
    }
  }
}
.settings {
  margin: 1.8 * $unit 0;
  margin-right: -$unit;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-flow: row nowrap;
  overflow-y: scroll;
  &__item {
    white-space: nowrap;
    font-size: $medium;
    padding: 8px 15px;
    background: $green;
    margin-left: $unit;
    color: #fff;
    border-radius: 10px;
  }
}
.menu {
  display: grid;
  align-items: center;
  align-content: center;
  padding: 5px 10px;
  background: $green;
  border-radius: 10px;
}
//mobile menu

.mobile-menu {
  opacity: 0;
  transform: translateX(-100%);
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: $green;
  transition: 0.2s ease all;
  &--active {
    opacity: 1;
    transform: translateX(0);
  }
  &__close {
    position: absolute;
    top: 5px;
    right: 5px;
  }
  &__items {
    margin-top: 2 * $unit;
  }
  &__item {
    text-align: center;
    font-size: $large;
    color: #fff;
    margin: 0.5 * $unit;
    font-weight: bold;
  }
}
