svg(width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M19.8167 0H10.1834C8.44267 0 7.02657 1.41617 7.02657 3.15686V26.8431C7.02657 28.5838 8.44273 30 10.1834 30H19.8166C21.5573 30 22.9734 28.5839 22.9734 26.8431V3.15686C22.9735 1.41617 21.5573 0 19.8167 0ZM22.0164 26.8431C22.0164 28.0561 21.0296 29.043 19.8167 29.043H10.1834C8.97039 29.043 7.98355 28.0561 7.98355 26.8431V12.1994H22.0164V26.8431ZM22.0164 11.2425H7.98361V3.15686C7.98361 1.94388 8.97045 0.957043 10.1834 0.957043H19.8166C21.0296 0.957043 22.0164 1.94388 22.0164 3.15686V11.2425Z" fill="black")
    path(d="M10.3258 13.5947H9.36874V16.8737H10.3258V13.5947Z" fill="black")
    path(d="M10.3258 6.56818H9.36874V9.84722H10.3258V6.56818Z" fill="black")
