svg(width="30" height="33" viewBox="0 0 30 33" fill="none" xmlns="http://www.w3.org/2000/svg")
    path(d="M0 0.274994V32.725H30V0.274994H0ZM29 31.625H1V1.37499H29V31.625Z" fill="black")
    path(d="M7.5 10.725C8.8785 10.725 10 9.49136 10 7.97501C10 6.45866 8.8785 5.22501 7.5 5.22501C6.1215 5.22501 5 6.45866 5 7.97501C5 9.49136 6.1215 10.725 7.5 10.725ZM7.5 6.32501C8.327 6.32501 9 7.06531 9 7.97501C9 8.88471 8.327 9.62501 7.5 9.62501C6.673 9.62501 6 8.88471 6 7.97501C6 7.06531 6.673 6.32501 7.5 6.32501Z" fill="black")
    path(d="M7.5 19.525C8.8785 19.525 10 18.2913 10 16.775C10 15.2586 8.8785 14.025 7.5 14.025C6.1215 14.025 5 15.2586 5 16.775C5 18.2913 6.1215 19.525 7.5 19.525ZM7.5 15.125C8.327 15.125 9 15.8653 9 16.775C9 17.6847 8.327 18.425 7.5 18.425C6.673 18.425 6 17.6847 6 16.775C6 15.8653 6.673 15.125 7.5 15.125Z" fill="black")
    path(d="M7.5 28.325C8.8785 28.325 10 27.0913 10 25.575C10 24.0586 8.8785 22.825 7.5 22.825C6.1215 22.825 5 24.0586 5 25.575C5 27.0913 6.1215 28.325 7.5 28.325ZM7.5 23.925C8.327 23.925 9 24.6653 9 25.575C9 26.4847 8.327 27.225 7.5 27.225C6.673 27.225 6 26.4847 6 25.575C6 24.6653 6.673 23.925 7.5 23.925Z" fill="black")
    path(d="M12.5 8.52499H24C24.276 8.52499 24.5 8.27914 24.5 7.97499C24.5 7.67084 24.276 7.42499 24 7.42499H12.5C12.224 7.42499 12 7.67084 12 7.97499C12 8.27914 12.224 8.52499 12.5 8.52499Z" fill="black")
    path(d="M12.5 17.325H24C24.276 17.325 24.5 17.0791 24.5 16.775C24.5 16.4708 24.276 16.225 24 16.225H12.5C12.224 16.225 12 16.4708 12 16.775C12 17.0791 12.224 17.325 12.5 17.325Z" fill="black")
    path(d="M12.5 26.125H24C24.276 26.125 24.5 25.8791 24.5 25.575C24.5 25.2708 24.276 25.025 24 25.025H12.5C12.224 25.025 12 25.2708 12 25.575C12 25.8791 12.224 26.125 12.5 26.125Z" fill="black")

