section.recipe-desc__wrapper
    .recipe-desc__scroll
        article.recipe-desc
            section.recipe-desc__header 
                //- img.recipe-desc__back(src=require("../../images/common/back.png").default, alt="hide pop up")
                //- img.recipe-desc__background(src=require("../../images/index/chicken.jpg").default, alt="dish")
                //- h1.recipe-desc__title Backed Chicken Thighs
                //- ul.recipe-desc__nutr-items  
                //-     li.recipe-desc__nutr Calories: 
                //-         span(id="cal") 330
                //-         span.recipe-desc__small Kcal
                //-     li.recipe-desc__nutr(id="prot") Proteins: 
                //-         span(id="cal") 33
                //-         span.recipe-desc__small g
                //-     li.recipe-desc__nutr(id="fat") Fat: 
                //-         span(id="cal") 3
                //-         span.recipe-desc__small g
            section.recipe-desc-ing 
                h2.recipe-desc-ing__title Igredients: 
                ul.recipe-desc-ing__container 
                    li.recipe-desc-ing__item
                    li.recipe-desc-ing__item
                    li.recipe-desc-ing__item
            section.recipe-desc-ins
                h2.recipe-desc-ins__title Instructions: 
                p.recipe-desc-ins__wrapper